# Local
WEB_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001
API_URL=http://localhost:4000
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
APP_BASE_URL=http://localhost:3000
NODE_ENV=development

AUTH0_DOMAIN=your-tenant.us.auth0.com
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_SECRET=
AUTH0_AUDIENCE=
NEXT_PUBLIC_AUTH0_CONFIGURED=true
NEXT_PUBLIC_ADMIN_URL=http://localhost:3001
